@model ProyectoSistemaGCSW.Models.Historial_Cambios

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Historial_Cambios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tabla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tabla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_cambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_cambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_anterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_anterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_nuevo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_nuevo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_cambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cambio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
