@model ProyectoSistemaGCSW.Models.Proyecto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado_Proyecto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Proyecto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metodologia.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metodologia.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_repositorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_repositorio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_proyecto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
